:root {
  // цвета
  --color-primary: #3E9CDC;
  --color-secondary: #fff;
  --color-dark: #272733;
	--color-black: #000;
  --color-white: #fff;

  // шрифты
  --font-family: "Lato", sans-serif;
	--font-family-title: "Raleway", sans-serif;
  --font-size: 18px;
  --small-font-size: 13px;
}